body{
  background-color: green;
}

#ARButton {
  position: absolute !important;
  bottom: 20px !important;
  width: 120px !important; /* Gewünschte Breite */
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 10px 20px !important;
  border: 2px solid #fff !important;
  border-radius: 8px !important;
  background: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff !important;
  font-size: 16px !important;
  text-align: center !important;
  opacity: 1 !important;
  outline: none !important;
  z-index: 99 !important;
  cursor: pointer !important;
}

#app{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#btn{
  width: 100px;
  height: 30px;
}
#btn:active {
  background-color: #b020a1;
}

.imageButton {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
}
.vertical-button {
  position: absolute;
}
.horizontal-button {
    position: relative; 
}

#startButton {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #D12BB9;
  color: #fff;
  padding: 10px;
  width: 200px;
  font-size: 1em;
  border-radius: 5%;
  border: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 700;
  transform-origin: center; /* Skalierung bleibt zentriert */
}

#startButton:active {
  transform: translateX(-50%) scale(0.95); /* Position bleibt gleich */
  background-color: #b020a1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
